<section id="about-section">
    <div class="row">
        <div class="col-xs-12 abt-back-color">
            <div class="divider-two"></div>
            <h2 class="center">
                O KONFERENCJI
            </h2>
            <div class="divider-two margin-botom-50"></div>
            <!-- ./Headings -->

            <div class="col-md-8 col-sm-6 col-xs-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-0">
                <div class="aboutText">
                    <strong>VI EDYCJA IT ACADEMIC DAY ORGANIZOWANA PRZEZ RESET ATH!</strong>
                </div>
                <blockquote>
                    IT Academic Day to cykl konferencji informatycznych organizowany na uczelniach w całej Polsce przez studentów z Grup .NET i Grup IT skierowany do uczniów szkół średnich, studentów oraz osób zainteresowanych nowoczesnymi technologiami. Udział w nim to doskonały sposób na zdobycie najbardziej aktualnej wiedzy dotyczącej programowania z wykorzystaniem nowoczesnych narzędzi i języków dostarczonych przez firmę Microsoft. Tematyka spotkań obejmuje również zagadnienia przeznaczone dla wszystkich, którzy dopiero rozpoczynają swoją przygodę w barwnym świecie technologii Microsoft.
                </blockquote>

            </div>

            <div class="col-md-4 col-sm-4 col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-offset-1 col-md-offset-0">
                <div class="aboutText center">
                    <strong>POPRZEDNIA EDYCJA W LICZBACH </strong>
                </div>                             
                <div class="row center" id="fun-numbers">
                    <div class="col-xs-12">
                        <h2 class="fun-number" data-number="25000" data-speed="6000">0</h2> W NAGRODACH
                    </div>
                    <div class="col-xs-12">
                        <h2 class="fun-number" data-number="400" data-speed="4000">0</h2>UCZESTNIKÓW
                    </div>
                    <div class="col-xs-12">
                        <h2 class="fun-number" data-number="10" data-speed="2000">0</h2>PRELEGENTÓW
                    </div>
                    <div class="col-xs-12">
                        <h2 class="fun-number" data-number="10" data-speed="15">0</h2>WOLONTARIUSZY
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!--./row-->

</section>
