<section id="about-section">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 abt-back-color">
            <div class="divider-two"></div>
            <h2 class="center">
                O KONFERENCJI
            </h2>
            <div class="divider-two margin-botom-50"></div>
            <!-- ./Headings -->

            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="aboutText">
                    <strong>VI EDYCJA IT ACADEMIC DAY ORGANIZOWANA PRZEZ RESET ATH!</strong>
                </div>
                <blockquote>
                    IT Academic Day to cykl konferencji informatycznych organizowany na uczelniach w całej Polsce przez studentów z Grup .NET i Grup IT skierowany do uczniów szkół średnich, studentów oraz osób zainteresowanych nowoczesnymi technologiami. Udział w nim to doskonały sposób na zdobycie najbardziej aktualnej wiedzy dotyczącej programowania z wykorzystaniem nowoczesnych narzędzi i języków dostarczonych przez firmę Microsoft. Tematyka spotkań obejmuje również zagadnienia przeznaczone dla wszystkich, którzy dopiero rozpoczynają swoją przygodę w barwnym świecie technologii Microsoft.
                </blockquote>

            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="aboutText">
                    <strong>POPRZEDNIA EDYCJA W LICZBACH </strong>
                </div>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-check"></i>Lorem ipsum elit</li>
                    <li><i class="fa-li fa fa-check"></i>Lorem ipsum elit</li>
                </ul>
                <blockquote>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
                    sed diam nonummy nibh euismod tincidunt.
                </blockquote>
                <div class="row center" id="fun-numbers">
                    <div class="col-sm-6">
                        <h2 class="fun-number" data-number="25000" data-speed="6000">0</h2>zł nagród
                    </div>
                    <div class="col-sm-6">
                        <h2 class="fun-number" data-number="400" data-speed="4000">0</h2>uczestników
                    </div>
                    <div class="col-sm-6">
                        <h2 class="fun-number" data-number="12" data-speed="2000">0</h2>prelegentów
                    </div>
                    <div class="col-sm-6">
                        <h2 class="fun-number" data-number="1" data-speed="1">0</h2>pijany Tomek
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!--./row-->

</section>
