<section id="about-section">
    <div class="row">
        <div class="col-xs-12 abt-back-color">
            <div class="divider-two"></div>
            <h2 class="center">
                O KONFERENCJI
            </h2>
            <div class="divider-two margin-botom-50"></div>

            <div class="col-xs-10 col-xs-offset-1  col-md-8 col-md-offset-2 margin-botom-20">
                <h3 class="center">
                    <strong>VI EDYCJA IT ACADEMIC DAY ORGANIZOWANA PRZEZ RESET ATH!<br /><br /></strong>
                </h3>
                <p class="center">
                    Już po raz <b>szósty </b> Koło Informatyczne <b>RESET ATH</b> podjęło się organizacji konferencji naukowej <b>IT Academic Day</b>.
                    Czym jest potocznie zwany <b>ITAD</b>? To cykl konferencji informatycznych organizowanych na uczelniach w całej Polsce przez grupy .NET i grupy IT.
                    Od samego początku młodzi inżynierowie z ATH postawili sobie za cel stworzenie <b>wydarzenia wyjątkowego</b>. Wydarzenia opartego na najbardziej aktualnej
                    wiedzy z  wielu dziedzin IT - nie tylko programowania, ale przede wszystkim najnowszych <b>technologii</b>, ruchu <b>Open Source</b> czy zagadnień - popularnej w dzisiejszych czasach-
                    <b>informatyki miękkiej</b>. Nasze starania doceniają największe firmy IT mające swoje siedziby na <b>Podbeskidziu</b>i to właśnie dzięki ich wsparciu jesteśmy w stanie
                    robić to, co naprawdę lubimy i na poziomie, którego nie powstydziłyby się największe konferencje <b>IT</b> w Polsce. Naszym sposobem na sukces jest współpraca i ogromna
                    chęć do działania, która nie pozwala nam spoczywać na laurach. Dlatego...<br />
                    W tym roku idziemy krok dalej - <b>podnosimy poprzeczkę</b>! Przyjdź i przekonaj się sam!
                </p>
            </div>
            <div class="col-sm-8 col-sm-offset-2 margin-botom-50">
                <img src="~/Content/images/ITAD infografika.png" class="img-responsive" />
            </div>

            <div class="col-sm-8 col-sm-offset-2 margin-botom-20">
                <h3 class="center">Nasze słowa potwierdza zeszłoroczna edycja, której skala bardzo miło nas zaskoczyła!</h3>
            </div>
                <div class="row center" id="fun-numbers">
                    <div class="col-sm-3">
                        <img src="~/Content/images/gift_icon.png" />
                        <h2 class="fun-number" data-number="25000" data-speed="6000">0</h2> <div class="fun-number-desc">zł W NAGRODACH</div>
                    </div>
                    <div class="col-sm-3">
                        <img src="~/Content/images/people_icon.png" />
                        <h2 class="fun-number" data-number="400" data-speed="4000">0</h2><div class="fun-number-desc">UCZESTNIKÓW</div>
                    </div>
                    <div class="col-sm-3">
                        <img src="~/Content/images/prelegent_icon.png" />
                        <h2 class="fun-number" data-number="10" data-speed="2000">0</h2><div class="fun-number-desc">PRELEGENTÓW</div>
                    </div>
                    <div class="col-sm-3">
                        <img src="~/Content/images/staff_icon.png" />
                        <h2 class="fun-number" data-number="15" data-speed="2000">0</h2><div class="fun-number-desc">WOLONTARIUSZY</div>
                    </div>
                </div>

            </div>

    </div>

    <!--./row-->

</section>
