<section id="agenda-section">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sb-back-color">
            <div class="divider-two"></div>
            <h2 class="center">AGENDA</h2>
            <div class="divider-two margin-botom-50"></div>

            <div class="row">
                <div class="col-xs-12 agenda-container">
                    <div class="agenda-box collapsed small">
                        <div class="collapsed-content">
                            <div>
                                <div class="agenda-title t1">
                                    OFICJALNE<br />ROZPOCZĘCIE
                                </div>
                                <div class="agenda-hour">09:00 - 09:20</div>
                            </div>
                        </div>
                        <div class="expanded-content" style="display: none;">
                            <div class="row">
                                <div class="col-sm-5 ">
                                    <div class="align-content-agenda">
                                        <div>
                                            <p style="padding:30px" class="t3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 ">
                                    <div class="align-content-agenda">
                                        <div>
                                            <img src="~/Content/images/Agenda/itad-logo-mini.png" class="img-responsive col-xs-10 col-xs-offset-1 margin-botom-20" />
                                            <p class="t0">
                                                OFICJALNE<br />ROZPOCZĘCIE
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5 ">
                                    <div class="align-content-agenda">
                                        <div>
                                            <p class="t2"><b>09:00 - 09:20</b></p>
                                            <div class="circle" data-value="0.333">
                                                <strong></strong>
                                            </div>
                                            <p>
                                                <b>minut</b>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="agenda-box collapsed agenda-euvic">
                        <div class="collapsed-content">
                            <div>
                                <div class="agenda-title t1">
                                    Prezentacja<br />firmy EUVIC
                                </div>
                                <div class="agenda-hour">09:25 - 09:40</div>
                            </div>
                        </div>
                        <div class="expanded-content" style="display: none;">
                        </div>
                    </div>
                    <div class="agenda-box collapsed agenda-versum">
                        <div class="collapsed-content">
                            <div>
                                <div class="agenda-title t1">
                                    Prezentacja<br />firmy VERSUM
                                </div>
                                <div class="agenda-hour">09:40 - 09:55</div>
                            </div>
                        </div>
                        <div class="expanded-content" style="display: none;">
                        </div>
                    </div>
                    <div class="agenda-box collapsed">
                        <div class="collapsed-content">
                            <div>
                                <div class="agenda-title t1">5 sposobów na karierę, czyli jak odnieść sukces</div>
                                <div class="agenda-hour">10:00 - 10:35</div>
                            </div>
                        </div>
                        <div class="expanded-content" style="display: none;">
                        </div>
                    </div>
                    <div class="agenda-box collapsed">
                        <div class="collapsed-content">
                            <div>
                                <div class="agenda-title t2">Tworzenie aplikacji mobilnych na platformę Windows Phone i Windows</div>
                                <div class="agenda-hour">10:40 - 11:25</div>
                            </div>
                        </div>
                        <div class="expanded-content" style="display: none;">
                        </div>
                    </div>
                    <div class="agenda-box collapsed">
                        <div class="collapsed-content">
                            <div>
                                <div class="agenda-title t1">
                                    PRZERWA <br />NA PIZZĘ
                                </div>
                                <div class="agenda-hour">11:25 - 12:00</div>
                            </div>
                        </div>
                        <div class="expanded-content" style="display: none;">
                        </div>
                    </div>
                    <div class="agenda-box collapsed">
                        <div class="collapsed-content">
                            <div>
                                <div class="agenda-title t2">
                                    Innowacje technologiczne, czyli <br />do czego krowom krokomierze?
                                </div>
                                <div class="agenda-hour">12:00 - 12:45</div>
                            </div>
                        </div>
                        <div class="expanded-content" style="display: none;">

                            <div class="row">
                                <p class="t0 text-center agenda-expanded-title">
                                    Innowacje technologiczne, czyli do czego krowom krokomierze?
                                </p>
                                <div class="col-sm-5 ">
                                    <div class="align-content-agenda">
                                        <div>
                                            <p style="padding: 30px" class="t3">Technologia oferuje dziś programistom praktycznie nieograniczone możliwości. Chmury obliczeniowe, potrafiące przetwarzać petabajty danych w mgnieniu oka, hologramy, komputery wielkości zegarka. Tysiące czujników, zbierających dane oraz usługi, pozwalające je analizować. Jedynym ograniczeniem jest kreatywność programisty. W trakcie prezentacji spróbuję pobudzić Waszą wyobraźnię – pokażę kilka wybranych rozwiązań, które zademonstrują co można zrealizować przy pomocy kodu i dostępnych technologii - w szczególności Windows 10, Azure, Office. Przyjrzymy się następnie nieco bliżej tym technologiom od strony deweloperskiej, poznamy ich możliwości i zobaczymy jak zastosować je w praktyce.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 ">
                                    <div class="align-content-agenda">
                                        <div>
                                            <img src="~/Content/images/Agenda/itad-logo-mini.png" class="img-responsive col-xs-10 col-xs-offset-1 margin-botom-20"/>
                                            <p class="t2"><b>12:00 - 12:45</b>
                                            </p>
                                            <div class="circle" data-value="0.75">
                                                <strong></strong>
                                            </div>
                                            <p>
                                                <b>minut</b>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5 ">
                                    <div class="align-content-agenda">
                                        <div>
                                            <img src="~/Content/images/Prelegenci/Bartlomiej_Zass.png" class="img-responsive col-xs-8 col-xs-offset-2 margin-botom-20" />
                                            <a href="#bartlomiej_zass" class="slide-inner"><p>Prowadzący: <b>Bartłomiej Zass</b></p></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="agenda-box collapsed">
                        <div class="collapsed-content">
                            <div>
                                <div class="agenda-title t1">Przypadki użycia komponentów Azure</div>
                                <div class="agenda-hour">12:50 - 13:35</div>
                            </div>
                        </div>
                        <div class="expanded-content" style="display: none;">
                        </div>
                    </div>
                    <div class="agenda-box collapsed">
                        <div class="collapsed-content">
                            <div>
                                <div class="agenda-title t3">Internet of Things on Amazon AWS Cloud - Revolution in IT world has just come</div>
                                <div class="agenda-hour">13:40 - 14:40</div>
                            </div>
                        </div>
                        <div class="expanded-content" style="display: none;">
                        </div>
                    </div>
                    <div class="agenda-box collapsed">
                        <div class="collapsed-content">
                            <div>
                                <div class="agenda-title t2">PRZERWA</div>
                                <div class="agenda-hour">14:40 - 14:55</div>
                            </div>
                        </div>
                        <div class="expanded-content" style="display: none;">
                        </div>
                    </div>
                    <div class="agenda-box collapsed">
                        <div class="collapsed-content">
                            <div>
                                <div class="agenda-title t1">Chrome Developer Tools - tips&tricks</div>
                                <div class="agenda-hour">14:55 - 15:30</div>
                            </div>
                        </div>
                        <div class="expanded-content" style="display: none;">
                        </div>
                    </div>
                    <div class="agenda-box collapsed">
                        <div class="collapsed-content">
                            <div>
                                <div class="agenda-title t2">Wykorzystaj serwisy Azure i skup się na programowaniu</div>
                                <div class="agenda-hour">15:35 - 16:20</div>
                            </div>
                        </div>
                        <div class="expanded-content" style="display: none;">
                        </div>
                    </div>
                    <div class="agenda-box collapsed">
                        <div class="collapsed-content">
                            <div>
                                <div class="agenda-title t1">Oficjalne zakończenie i rozdanie nagród</div>
                                <div class="agenda-hour">16:25 - 16:50</div>
                            </div>
                        </div>
                        <div class="expanded-content" style="display: none;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--./row-->
</section>
