<section id="agenda-section">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 org-back-color">
            <div class="divider-two"></div>
            <h2 class="center">AGENDA</h2>
            <div class="divider-two margin-botom-50"></div>

            <div class="row">
                <div class="col-xs-6 col-xs-offset-3 text-center">
                    <i class="fa fa-users chooseIcon"></i>
                    <p class="chooseText">PANEL GŁÓWNY KONFERENCJI <br /><b>AULA L128</b></p>
                </div>
                <div class="col-xs-12 agenda-container">

                    <div class="agenda-box collapsed small">
                        <div class="collapsed-content">
                            <div>
                                <img src="~/Content/images/Agenda/itad-logo-mini.png" class="col-xs-6 col-xs-offset-3 margin-botom-10" />
                                <div class="agenda-title t1 col-xs-12">
                                    Rejestracja<br />uczestników<br />
                                    <b>07:45 - 08:45</b>
                                </div>
                                <div class="t4 col-xs-12">zobacz więcej &raquo;</div>
                            </div>
                        </div>
                        <div class="expanded-content row" style="display: none;">
                            <div class="col-xs-12 col-sm-5">
                                <div class="align-content-agenda">
                                    <div>
                                        <p class="t3 agenda-text-padding" style="padding: 30px;">
                                            Szósta edycja IT Academic Day w Bielsku-Białej to przede wszystkim pakiet nowości, który przygotowało koło RESET.
                                            Jedną z nich jest tzw. System ITAD, którego pierwszym elementem jest innowacyjny moduł rejestracji w dniu konferencji.
                                            Polega on na rejestrowaniu uczestników poprzez skanowanie kodów QR dostarczonych drogą mailową. Do Państwa dyspozycji oddajemy dwa tablety służące do skanowania QR kodów oraz chętnych do pomocy wolontariuszy :)

                                            Zapraszamy 20 listopada do skorzystania z systemu oraz odebrania giftpacka!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-2 ">
                                <div class="align-content-agenda first">
                                    <div>
                                        <img src="~/Content/images/Agenda/itad-logo-mini.png" class="img-responsive col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1 margin-botom-20" />
                                        <p class="t0">
                                            Rejestracja<br />uczestników
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-5 agenda-margin-top-xs">
                                <div class="align-content-agenda">
                                    <div>
                                        <p class="t2">
                                            <b>07:45 - 08:45</b>
                                        </p>
                                        <div class="circle" data-value="1">
                                            <strong></strong>
                                        </div>
                                        <p class="col-xs-12">
                                            <b>minut</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="agenda-box collapsed small">
                        <div class="collapsed-content">
                            <div>
                                <img src="~/Content/images/Agenda/itad-logo-mini.png" class="col-xs-6 col-xs-offset-3 margin-botom-10" />
                                <div class="agenda-title t1 col-xs-12">
                                    Oficjalne<br />rozpoczęcie<br />
                                    <b>08:45 - 09:20</b>
                                </div>
                                <div class="t4 col-xs-12">zobacz więcej &raquo;</div>
                            </div>
                        </div>
                        <div class="expanded-content row" style="display: none;">

                            <div class="col-sm-5 col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <p class="t3 agenda-text-padding">
                                            Zapraszamy wszystkich do wzięcia udziału w oficjalnym otwarciu szóstej edycji IT Academic

                                            Day na ATH. Głos zabiorą władze uczelni, opiekunowie oraz członkowie Koła Reset.
                                            Po oficjalnym rozpoczęciu zapraszamy na warszaty oraz główny panel konferencyjny

                                            odbywający się przez cały dzień w auli L128.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-12  margin-bottom-xs-20">
                                <div class="align-content-agenda first">
                                    <div>
                                        <img src="~/Content/images/Agenda/itad-logo-mini.png" class="img-responsive col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1 margin-botom-20" />
                                        <p class="t0">
                                            Oficjalne<br />rozpoczęcie
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <p class="t2">
                                            <b>08:45 - 09:20</b>
                                        </p>
                                        <div class="circle" data-value="0.58">
                                            <strong></strong>
                                        </div>
                                        <p class="col-xs-12">
                                            <b>minut</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="agenda-box collapsed small">
                        <div class="collapsed-content">
                            <div>
                                <img src="~/Content/images/Sponsors/sponsors_euvic.png" class="col-xs-6 col-xs-offset-3 margin-botom-10" />
                                <div class="agenda-title t1">
                                    Prezentacja<br />firmy EUVIC
                                    <br />
                                    <b>09:25 - 09:40</b>
                                </div>
                                <div class="t4 col-xs-12">zobacz więcej &raquo;</div>
                            </div>
                        </div>
                        <div class="expanded-content row" style="display: none;">

                            <div class="col-sm-5 agenda-margin-top-xs col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <img src="~/Content/images/Sponsors/sponsors_euvic.png" class="col-xs-6 col-xs-offset-3 img-responsive margin-botom-20" />
                                        <p class="col-xs-12 t3 agenda-text-padding">
                                            W tym roku firma Euvic znalazła się w gronie diamentowych sponsorów ITAD w Bielsku-Białej. LGBS jest firmą realizującą projekty informatyczne dla biznesu.
                                            Firma specjalizuje się w technologiach firmy Microsoft, ale jej kompetencje obejmują także środowisko Java i inne platformy programistyczne.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-12">
                                <div class="align-content-agenda first">
                                    <div>
                                        <img src="~/Content/images/Agenda/itad-logo-mini.png" class="img-responsive col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1 margin-botom-20" />
                                        <p class="t0">
                                            Prezentacja firmy EUVIC
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <p class="t2">
                                            <b>9:25 - 09:40</b>
                                        </p>
                                        <div class="circle" data-value="0.25">
                                            <strong></strong>
                                        </div>
                                        <p class="col-xs-12">
                                            <b>minut</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="agenda-box collapsed small">
                        <div class="collapsed-content">
                            <div>
                                <img src="~/Content/images/Sponsors/sponsors_versum.png" class="col-xs-6 col-xs-offset-3 margin-botom-10" />
                                <div class="agenda-title t1">
                                    Prezentacja<br />firmy VERSUM<br />
                                    <b>09:45 - 10:00</b>
                                </div>
                                <div class="t4 col-xs-12">zobacz więcej &raquo;</div>
                            </div>
                        </div>
                        <div class="expanded-content row" style="display: none;">

                            <div class="col-sm-5 agenda-margin-top-xs col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <img src="~/Content/images/Sponsors/sponsors_versum.png" class="col-xs-6 col-xs-offset-3 img-responsive margin-botom-20" />
                                        <p class="col-xs-12 t3 agenda-text-padding">
                                            Firma Versum to drugi diamentowy sponsor tegorocznej edycji IT Academic Day.
                                            Firma ta jest producentem nowoczesnego systemu zarządzania, który pozwala zautomatyzować pracę i efektywność salonu.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-12">
                                <div class="align-content-agenda first">
                                    <div>
                                        <img src="~/Content/images/Agenda/itad-logo-mini.png" class="img-responsive col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1 margin-botom-20" />
                                        <p class="t1">
                                            Prezentacja<br />firmy VERSUM
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <p class="t2">
                                            <b>09:45 - 10:00</b>
                                        </p>
                                        <div class="circle" data-value="0.25">
                                            <strong></strong>
                                        </div>
                                        <p class="col-xs-12">
                                            <b>minut</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="agenda-box collapsed">
                        <div class="collapsed-content">
                            <div>
                                <img src="~/Content/images/Partners/microsoft-logo2.png" class="col-xs-6 col-xs-offset-3 margin-botom-10" />
                                <div class="agenda-title t2 col-xs-12">
                                    5 sposobów na karierę, czyli jak odnieść sukces<br />
                                    <b>10:05 - 10:40</b>
                                </div>
                                <div class="t4 col-xs-12">zobacz więcej &raquo;</div>
                            </div>
                        </div>
                        <div class="expanded-content row" style="display: none;">

                            <p class="t0 text-center agenda-expanded-title col-xs-12">
                                5 sposobów na karierę, czyli jak odnieść sukces
                            </p>
                            <div class="col-sm-5 agenda-margin-top-xs col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <img src="~/Content/images/Partners/microsoft-logo2.png" class="col-xs-6 col-xs-offset-3 img-responsive margin-botom-20" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 margin-bottom-xs-20 row-no-padding col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <img src="~/Content/images/Agenda/itad-logo-mini.png" class="img-responsive col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 margin-botom-20" />
                                        <p class="t2 col-xs-12">
                                            <b class="hour-time-agenda">10:05 - 10:40</b>
                                        </p>
                                        <div class="col-xs-12">
                                            <div class="circle" data-value="0.58">
                                                <strong></strong>
                                            </div>
                                        </div>
                                        <p class="col-xs-12">
                                            <b>minut</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 margin-bottom-xs-20 col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <img src="~/Content/images/Prelegenci/Przemyslaw_Galuszka.png" class="img-responsive col-xs-4 col-xs-offset-4 col-sm-6 col-sm-offset-3 margin-botom-20" />
                                        <a href="#przemyslaw_galuszka" class="slide-inner col-xs-12">
                                            <p>
                                                Prowadzący: <b>Przemysław Gałuszka</b>
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="agenda-box collapsed">
                        <div class="collapsed-content">
                            <div>
                                <img src="~/Content/images/Sponsors/sponsors_jcommerce.PNG" class="col-xs-6 col-xs-offset-3 margin-botom-10" />

                                <div class="agenda-title t2">
                                    Tworzenie aplikacji mobilnych na platformę Windows Phone i Windows<br /><b>10:45 - 11:30</b>
                                </div>
                                <div class="t4 col-xs-12">zobacz więcej &raquo;</div>

                            </div>
                        </div>
                        <div class="expanded-content row" style="display: none;">

                            <p class="t0 text-center agenda-expanded-title col-xs-12">
                                Tworzenie aplikacji mobilnych na platformę Windows Phone i Windows
                            </p>
                            <div class="col-sm-5 agenda-margin-top-xs col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <img src="~/Content/images/Sponsors/sponsors_jcommerce.PNG" class="col-xs-6 col-xs-offset-3 img-responsive margin-botom-20" />
                                        <p class="col-xs-12 t2 agenda-text-padding">
                                            Od ponad 10 lat firma JCommerce specjalizuje się w dostarczaniu rozwiązań IT w obszarach Java, .NET, PHP, Front-End oraz systemów Business Intelligence i ERP.
                                            Na VI edycji IT Academic Day firma Jcommerce jest brązowym sponsorem.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 margin-bottom-xs-20 row-no-padding col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <img src="~/Content/images/Agenda/itad-logo-mini.png" class="img-responsive col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 margin-botom-20" />
                                        <p class="t2 col-xs-12">
                                            <b class="hour-time-agenda">10:45 - 11:30</b>
                                        </p>
                                        <div class="col-xs-12">
                                            <div class="circle" data-value="0.75">
                                                <strong></strong>
                                            </div>
                                        </div>
                                        <p class="col-xs-12">
                                            <b>minut</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 margin-bottom-xs-20 col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <img src="~/Content/images/Prelegenci/Tomasz_Kosowski.png" class="img-responsive col-xs-4 col-xs-offset-2 margin-botom-20" />
                                        <img src="~/Content/images/Prelegenci/Piotr_Nieweglowski.png" class="img-responsive col-xs-4 margin-botom-20" />

                                        <a href="#piotr_nieweglowski" class="slide-inner col-xs-12 p2">
                                            <p>
                                                Prowadzący: <b>Tomasz Kosowski i Piotr Niewęgłowski</b>
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="agenda-box collapsed small">
                        <div class="collapsed-content">
                            <div>
                                <img src="~/Content/images/pizza_icon.png" class="col-xs-6 col-xs-offset-3 margin-botom-10" />

                                <div class="agenda-title t2">
                                    Przerwa na<br />pizzę!<br /><b>11:30 - 12:00</b>
                                </div>
                                <div class="t4 col-xs-12">zobacz więcej &raquo;</div>

                            </div>
                        </div>
                        <div class="expanded-content row" style="display: none;">

                            <div class="col-sm-5 agenda-margin-top-xs col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <p class="col-xs-12 t3 agenda-text-padding">
                                            <b>Pizza!</b><br /><br />
                                            Wszystkich uczestników zapraszamy do holu obok auli L128, w której odbywa się główny panel konferencyjny. W tym roku dla WSZYSTKICH przewidzieliśmy przerwę obiadową w postaci pizzy od firmy MAXIMUS.
                                            <br /><br />
                                            Smacznego! :)
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-12">
                                <div class="align-content-agenda first">
                                    <div>
                                        <img src="~/Content/images/pizza_icon.png" class="img-responsive col-xs-10 col-xs-offset-1 margin-botom-20" />
                                        <p class="t0">
                                            Przerwa na pizzę!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <p class="t2">
                                            <b>11:30 - 12:00</b>
                                        </p>
                                        <div class="col-xs-12">
                                            <div class="circle" data-value="0.5">
                                                <strong></strong>
                                            </div>
                                        </div>
                                        <p class="col-xs-12">
                                            <b>minut</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="agenda-box collapsed">
                        <div class="collapsed-content">
                            <div>
                                <img src="~/Content/images/Partners/microsoft-logo2.png" class="col-xs-6 col-xs-offset-3 margin-botom-10" />

                                <div class="agenda-title t2">
                                    Innowacje technologiczne, czyli <br />do czego krowom krokomierze?<br />
                                    <b>12:00 - 12:45</b>
                                </div>
                                <div class="t4 col-xs-12">zobacz więcej &raquo;</div>

                            </div>
                        </div>
                        <div class="expanded-content row" style="display: none;">


                            <p class="t0 text-center agenda-expanded-title col-xs-12">
                                Innowacje technologiczne, czyli do czego krowom krokomierze?
                            </p>

                            <div class="col-sm-5 agenda-margin-top-xs col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <p class="t3 agenda-text-padding margin-bottom-xs-20">Technologia oferuje dziś programistom praktycznie nieograniczone możliwości. Chmury obliczeniowe, potrafiące przetwarzać petabajty danych w mgnieniu oka, hologramy, komputery wielkości zegarka. Tysiące czujników, zbierających dane oraz usługi, pozwalające je analizować. Jedynym ograniczeniem jest kreatywność programisty. W trakcie prezentacji spróbuję pobudzić Waszą wyobraźnię – pokażę kilka wybranych rozwiązań, które zademonstrują co można zrealizować przy pomocy kodu i dostępnych technologii - w szczególności Windows 10, Azure, Office. Przyjrzymy się następnie nieco bliżej tym technologiom od strony deweloperskiej, poznamy ich możliwości i zobaczymy jak zastosować je w praktyce.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 margin-bottom-xs-20 row-no-padding col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <img src="~/Content/images/Agenda/itad-logo-mini.png" class="img-responsive col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 margin-botom-20" />
                                        <p class="t2 col-xs-12">
                                            <b class="hour-time-agenda">12:00 - 12:45</b>
                                        </p>
                                        <div class="col-xs-12">
                                            <div class="circle" data-value="0.75">
                                                <strong></strong>
                                            </div>
                                        </div>
                                        <p class="col-xs-12">
                                            <b>minut</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 margin-bottom-xs-20 col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <img src="~/Content/images/Prelegenci/Bartlomiej_Zass.png" class="img-responsive col-xs-4 col-xs-offset-4 col-sm-6 col-sm-offset-3 margin-botom-20" />
                                        <a href="#bartlomiej_zass" class="slide-inner col-xs-12">
                                            <p>
                                                Prowadzący: <b>Bartłomiej Zass</b>
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="agenda-box collapsed">
                        <div class="collapsed-content">
                            <div>
                                <img src="~/Content/images/Sponsors/sponsors_euvic.png" class="img-responsive col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 margin-botom-10" />
                                <div class="agenda-title t1">
                                    Przypadki użycia komponentów Azure<br /><b>12:50 - 13:35</b>
                                </div>
                                <div class="t4 col-xs-12">zobacz więcej &raquo;</div>

                            </div>
                        </div>
                        <div class="expanded-content row" style="display: none;">

                            <p class="t0 text-center agenda-expanded-title col-xs-12">
                                Przypadki użycia komponentów Azure
                            </p>
                            <div class="col-sm-5 agenda-margin-top-xs col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <img src="~/Content/images/Sponsors/sponsors_euvic.png" class="col-xs-6 col-xs-offset-3 img-responsive margin-botom-20" />
                                        <p class="col-xs-12 agenda-text-padding">
                                            W tym roku firma Euvic znalazła się w gronie diamentowych sponsorów ITAD w Bielsku-Białej. LGBS jest firmą realizującą projekty informatyczne dla biznesu.
                                            Firma specjalizuje się w technologiach firmy Microsoft, ale jej kompetencje obejmują także środowisko Java i inne platformy programistyczne.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 margin-bottom-xs-20 row-no-padding col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <img src="~/Content/images/Agenda/itad-logo-mini.png" class="img-responsive col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 margin-botom-20" />
                                        <p class="t2 col-xs-12">
                                            <b class="hour-time-agenda">12:50 - 13:35</b>
                                        </p>
                                        <div class="col-xs-12">
                                            <div class="circle" data-value="0.75">
                                                <strong></strong>
                                            </div>
                                        </div>
                                        <p class="col-xs-12">
                                            <b>minut</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 margin-bottom-xs-20 col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <img src="~/Content/images/Prelegenci/Marcin_Rzeszowski2.png" class="img-responsive col-xs-4 col-xs-offset-2 margin-botom-20" />
                                        <img src="~/Content/images/Prelegenci/Mateusz_Jonderko2.png" class="img-responsive col-xs-4 margin-botom-20" />

                                        <a href="#marcin_rzeszowski" class="slide-inner col-xs-12 p2">
                                            <p>
                                                Prowadzący: <b>Marcin Rzeszowski i Mateusz Jonderko</b>
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="agenda-box collapsed">
                        <div class="collapsed-content">
                            <div>
                                <img src="~/Content/images/Sponsors/sponsors_pitney.png" class="img-responsive col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 margin-botom-10" />

                                <div class="agenda-title t3">
                                    Internet of Things on Amazon AWS Cloud - Revolution in IT world has just come<br /><b>13:40 - 14:40</b>
                                </div>
                                <div class="t4 col-xs-12">zobacz więcej &raquo;</div>
                            </div>
                        </div>
                        <div class="expanded-content row" style="display: none;">

                            <p class="t0 text-center agenda-expanded-title col-xs-12">
                                Internet of Things on Amazon AWS Cloud - Revolution in IT world has just come
                            </p>

                            <div class="col-sm-5 agenda-margin-top-xs margin-bottom-xs-20 col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <img src="~/Content/images/Sponsors/sponsors_pitney.PNG" class="col-xs-8 col-xs-offset-2 img-responsive margin-bottom-xs-20" />

                                        <p class="t2 col-xs-12 agenda-text-padding">Firma Pitney Bowes jest światowym liderem na rynku kompleksowych rozwiązań w zakresie przetwarzania korespondencji masowej. Oddział w Bielsku-Białej koncentruje się na rozwoju i testowaniu produktów Pitney Bowes, używając najnowszych technologii.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 margin-bottom-xs-20 row-no-padding col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <img src="~/Content/images/Agenda/itad-logo-mini.png" class="img-responsive col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 margin-botom-20" />
                                        <p class="t2 col-xs-12">
                                            <b class="hour-time-agenda">13:40 - 14:40</b>
                                        </p>
                                        <div class="col-xs-12">
                                            <div class="circle" data-value="1">
                                                <strong></strong>
                                            </div>
                                        </div>
                                        <p class="col-xs-12">
                                            <b>minut</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 margin-bottom-xs-20 col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <img src="~/Content/images/Prelegenci/Adam_Smolnik2.png" class="img-responsive col-xs-4 col-xs-offset-4 col-sm-6 col-sm-offset-3 margin-botom-20" />
                                        <a href="#adam_smolnik" class="slide-inner col-xs-12">
                                            <p>
                                                Prowadzący: <b>Adam Smolnik</b>
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="agenda-box-not collapsed small">
                        <div class="collapsed-content">
                            <div>
                                <img src="~/Content/images/Agenda/itad-logo-mini.png" class="col-xs-6 col-xs-offset-3 margin-botom-10" />

                                <div class="agenda-title t2">
                                    PRZERWA<br /><b>14:40 - 14:55</b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="agenda-box collapsed">
                        <div class="collapsed-content">
                            <div>
                                <img src="~/Content/images/Sponsors/sponsors_davinci.png" class="col-xs-6 col-xs-offset-3 margin-botom-10" />

                                <div class="agenda-title t1">
                                    Chrome Developer Tools - tips&tricks<br /><b>14:55 - 15:30</b>
                                </div>
                                <div class="t4 col-xs-12">zobacz więcej &raquo;</div>
                            </div>
                        </div>
                        <div class="expanded-content row" style="display: none;">

                            <p class="t0 text-center agenda-expanded-title col-xs-12">
                                Chrome Developer Tools - tips&tricks
                            </p>

                            <div class="col-sm-5 agenda-margin-top-xs margin-bottom-xs-20 col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <img src="~/Content/images/Sponsors/sponsors_davinci.png" class="col-xs-4 col-xs-offset-4 img-responsive margin-botom-20" />

                                        <p class="t2 col-xs-12 agenda-text-padding">
                                            Aby stawić czoła zadaniom wyznaczonym przez użytkowników, wciąż rozwijają swoje umiejętności. Jako podstawę architektury używają nowoczesnych środowisk JavaScript: BackBone.js, AngularJS, CSS preprocessor - SASS.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 margin-bottom-xs-20 row-no-padding col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <img src="~/Content/images/Agenda/itad-logo-mini.png" class="img-responsive col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 margin-botom-20" />
                                        <p class="t2 col-xs-12">
                                            <b class="hour-time-agenda">14:55 - 15:30</b>
                                        </p>
                                        <div class="col-xs-12">
                                            <div class="circle" data-value="0.58">
                                                <strong></strong>
                                            </div>
                                        </div>
                                        <p class="col-xs-12">
                                            <b>minut</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 margin-bottom-xs-20 col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <img src="~/Content/images/Prelegenci/Jakub_Binda.png" class="img-responsive col-xs-4 col-xs-offset-4 col-sm-6 col-sm-offset-3 margin-botom-20" />
                                        <a href="#jakub_binda" class="slide-inner col-xs-12">
                                            <p>
                                                Prowadzący: <b>Jakub Binda</b>
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="agenda-box collapsed">
                        <div class="collapsed-content">
                            <div>
                                <img src="~/Content/images/Sponsors/sponsors_fp.png" class="col-xs-10 col-xs-offset-1 margin-botom-10" />

                                <div class="agenda-title t2">
                                    Jak zbudować Windows Store Apps za pomocą HTML5 i JavaScript<br /><b>15:35 - 16:20</b>
                                </div>
                                <div class="t4 col-xs-12">zobacz więcej &raquo;</div>

                            </div>
                        </div>
                        <div class="expanded-content row" style="display: none;">

                            <p class="t0 text-center agenda-expanded-title col-xs-12">
                                Jak zbudować Windows Store Apps za pomocą HTML5 i JavaScript
                            </p>

                            <div class="col-sm-5 agenda-margin-top-xs col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <img src="~/Content/images/Sponsors/sponsors_fp.png" class="col-xs-8 col-xs-offset-2 img-responsive" />

                                        <p class="t2 col-xs-12 agenda-text-padding">
                                            Biblioteka WinJS to idealne rozwiązanie dla każdego web developera, który chciałby rozpocząć swą przygodę z tworzeniem aplikacji przeznaczonych do Windows Store.
                                            <br/>
                                            Podczas krótkiej prezentacji pokazane zostaną możliwości jakie daje nam biblioteka WinJS na froncie walk z Windows Store Apps. Omówiony zostanie wzorzec programowania asynchronicznego oparty na obiektach Promise oraz zaprezentowane zostaną wybrane kontrolki umożliwiające zarówno tworzenie zaawansowanego UI jak i wykorzystanie elementów systemów rodziny Windows jak np. kamera.
                                            <br/>
                                            Znając język JavaScript oraz standardy HTML5 i CSS3 można zbudować w pełni funkcjonalne aplikacje na urządzenia mobile oraz desktopy.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 margin-bottom-xs-20 row-no-padding col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <img src="~/Content/images/Agenda/itad-logo-mini.png" class="img-responsive col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 margin-botom-20" />
                                        <p class="t2 col-xs-12">
                                            <b class="hour-time-agenda">15:35 - 16:20</b>
                                        </p>
                                        <div class="col-xs-12">
                                            <div class="circle" data-value="0.75">
                                                <strong></strong>
                                            </div>
                                        </div>
                                        <p class="col-xs-12">
                                            <b>minut</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 margin-bottom-xs-20 col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <img src="~/Content/images/Prelegenci/Marcin_Balda.png" class="img-responsive col-xs-4 col-xs-offset-4 col-sm-6 col-sm-offset-3 margin-botom-20" />
                                        <a href="#marcin_balda" class="slide-inner col-xs-12">
                                            <p>
                                                Prowadzący: <b>Marcin Bałda</b>
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="agenda-box collapsed">
                        <div class="collapsed-content">
                            <div>
                                <img src="~/Content/images/Agenda/itad-logo-mini.png" class="col-xs-6 col-xs-offset-3 margin-botom-10" />

                                <div class="agenda-title t2">
                                    Oficjalne zakończenie i rozdanie nagród<br /><b>16:25 - 16:50</b>
                                </div>
                                <div class="t4 col-xs-12">zobacz więcej &raquo;</div>

                            </div>
                        </div>
                        <div class="expanded-content row" style="display: none;">

                            <p class="t0 text-center agenda-expanded-title col-xs-12">
                                Oficjalne zakończenie i rozdanie nagród
                            </p>

                            <div class="col-sm-5 agenda-margin-top-xs col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <p class="t2 col-xs-12 agenda-text-padding">
                                            Oficjalne zakończenie to przede wszystkim losowanie nagród oraz nagrody głównej ufundowanej przez prorektora prof. dr. hab. Kazimierza Nikodema. W tym roku główną nagrodą jest iPhone 6.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 margin-bottom-xs-20 row-no-padding col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <img src="~/Content/images/Agenda/itad-logo-mini.png" class="img-responsive col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 margin-botom-20" />
                                        <p class="t2 col-xs-12">
                                            <b class="hour-time-agenda">16:25 - 16:50</b>
                                        </p>
                                        <div class="col-xs-12">
                                            <div class="circle" data-value="0.42">
                                                <strong></strong>
                                            </div>
                                        </div>
                                        <p class="col-xs-12">
                                            <b>minut</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 margin-bottom-xs-20 col-xs-12">
                                <div class="align-content-agenda">
                                    <div>
                                        <img src="~/Content/images/Agenda/iphone6.png" class="img-responsive col-xs-6 col-xs-offset-3 margin-botom-20" />

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-xs-offset-3 text-center margin-top-40">
                <i class="fa fa-cogs chooseIcon"></i>
                <p class="chooseText">
                    PANEL WARSZTATOWY
                </p>
            </div>
            <div class="col-xs-12 agenda-container">
                <div class="agenda-box collapsed">
                    <div class="collapsed-content">
                        <div>
                            <img src="~/Content/images/Agenda/ruby-logo.png" class="col-xs-6 col-xs-offset-3" />

                            <div class="agenda-title t2">
                                Błyskawiczne tworzenie aplikacji w Ruby on Rails<br /><b>09:00 - 11:00<br />12:00 - 14:00</b>
                            </div>
                            <div class="t4 col-xs-12">zobacz więcej &raquo;</div>

                        </div>
                    </div>
                    <div class="expanded-content row" style="display: none;">

                        <p class="t0 text-center agenda-expanded-title col-xs-12">
                            Błyskawiczne tworzenie aplikacji w Ruby on Rails
                        </p>

                        <div class="col-sm-5 agenda-margin-top-xs col-xs-12">
                            <div class="align-content-agenda">
                                <div>
                                    <img src="~/Content/images/Agenda/ruby-logo.png" class="col-xs-4 col-xs-offset-4 img-responsive" />

                                    <p class="t2 col-xs-12 agenda-text-padding">
                                        Celem mojego warsztatu jest pokazanie co to jest Ruby on Rails, dlaczego warto nauczyć się w nim kodować i jakie korzyści z tego płyną.

                                        Podczas warsztatu napiszemy wspólnie prostą aplikację od podstaw, każdy uczestnik będzie mógł w praktyce zobaczyć na czym polega tworzenie aplikacji webowych w oparciu o architekturę MVC i dlaczego w Ruby on Rails tworzy się je tak szybko.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 margin-bottom-xs-20 row-no-padding col-xs-12 agenda-margin-top-xs">
                            <div class="align-content-agenda">
                                <div>
                                    <img src="~/Content/images/Agenda/itad-logo-mini.png" class="img-responsive col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 margin-botom-20" />
                                    <p class="t2 col-xs-12">
                                        <b class="hour-time-agenda">
                                            09:00 - 11:00<br />
                                            12:00 - 14:00
                                        </b>
                                    </p>
                                    <div class="col-xs-12">
                                        <div class="circle" data-value="2">
                                            <strong></strong>
                                        </div>
                                    </div>
                                    <p class="col-xs-12">
                                        <b>minut</b>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 margin-bottom-xs-20 col-xs-12">
                            <div class="align-content-agenda">
                                <div>
                                    <img src="~/Content/images/Prelegenci/Lukasz_Gawel2.png" class="img-responsive col-xs-4 col-xs-offset-4 col-sm-6 col-sm-offset-3 margin-botom-20" />
                                    <a href="#łukaszgaweł" class="slide-inner col-xs-12">
                                        <p>
                                            Prowadzący: <b>Łukasz Gaweł</b>
                                        </p>
                                    </a>
                                    <p class="col-xs-12"><b>Budynek A, sala 114 (I piętro)</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="agenda-box collapsed">
                    <div class="collapsed-content">
                        <div>
                            <img src="~/Content/images/Agenda/rpi-logo.png" class="col-xs-4 col-xs-offset-4 margin-botom-10" />

                            <div class="agenda-title t2">
                                Mikrokomputer Raspberry Pi<br /><b>09:00 - 11:00<br />12:00 - 14:00</b>
                            </div>
                            <div class="t4 col-xs-12">zobacz więcej &raquo;</div>

                        </div>
                    </div>
                    <div class="expanded-content row" style="display: none;">

                        <p class="t0 text-center agenda-expanded-title col-xs-12">
                            Mikrokomputer Raspberry Pi
                        </p>

                        <div class="col-sm-5 agenda-margin-top-xs col-xs-12">
                            <div class="align-content-agenda">
                                <div>
                                    <img src="~/Content/images/Agenda/rpi-logo.png" class="col-xs-4 col-xs-offset-4 col-sm-3 col-sm-offset-5 img-responsive margin-botom-20" />
                                    <p class="t2 col-xs-12 agenda-text-padding">
                                        Warsztaty z Raspberry Pi przybliżą jeden z najpopularniejszych mikrokoputerów osobom, które nie miały z nim jeszcze do czynienia oraz pozwolą na podszlifowanie wiedzy oraz umiejętności tym wszystkim, którzy już kiedyś realizowali projekty oparte o ten mikrokomputer. W czasie warsztatów postaramy się wprowadzić początkujące osoby w świat elektroniki oraz pokazać kilka ciekawych zastosowań dla Raspberry Pi.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 margin-bottom-xs-20 row-no-padding agenda-margin-top-xs col-xs-12">
                            <div class="align-content-agenda">
                                <div>
                                    <img src="~/Content/images/Agenda/itad-logo-mini.png" class="img-responsive col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 margin-botom-20" />
                                    <p class="t2 col-xs-12">
                                        <b class="hour-time-agenda">
                                            09:00 - 11:00<br />
                                            12:00 - 14:00
                                        </b>
                                    </p>
                                    <div class="col-xs-12">
                                        <div class="circle" data-value="2">
                                            <strong></strong>
                                        </div>
                                    </div>
                                    <p class="col-xs-12">
                                        <b>minut</b>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 margin-bottom-xs-20 col-xs-12">
                            <div class="align-content-agenda">
                                <div>
                                    <img src="~/Content/images/Prelegenci/Blazej_Faliszek2.png" class="img-responsive col-xs-4 col-xs-offset-4 col-sm-6 col-sm-offset-3 margin-botom-20" />
                                    <a href="#błażejfaliszek" class="slide-inner col-xs-12">
                                        <p>
                                            Prowadzący: <b>Błażej Faliszek</b>
                                        </p>
                                    </a>
                                    <p class="col-xs-12"><b>Budynek L, sala 406 (IV piętro)</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="agenda-box collapsed">
                    <div class="collapsed-content">
                        <div>
                            <img src="~/Content/images/Agenda/unity-logo.png" class="col-xs-4 col-xs-offset-4 margin-botom-10" />

                            <div class="agenda-title t2 col-xs-12">
                                Poznaj Unity3D - wprowadzenie do tworzenia gier<br /><b>09:00 - 11:00<br />12:00 - 14:00</b>
                            </div>
                            <div class="t4 col-xs-12">zobacz więcej &raquo;</div>
                        </div>
                    </div>
                    <div class="expanded-content row" style="display: none;">
                        <p class="t0 text-center agenda-expanded-title col-xs-12">
                            Poznaj Unity3D - wprowadzenie do tworzenia gier
                        </p>
                        <div class="col-sm-5 agenda-margin-top-xs margin-bottom-xs-20 col-xs-12">
                            <div class="align-content-agenda">
                                <div>
                                    <img src="~/Content/images/Agenda/unity-logo.png" class="col-xs-4 col-xs-offset-4 col-sm-3 col-sm-offset-5 img-responsive margin-botom-20" />
                                    <p class="t2 col-xs-12 agenda-text-padding">
                                        Chciałeś zawsze stworzyć grę swoich marzeń lecz nie wiedziałeś jak się do tego zabrać? Na tym warsztacie dowiesz się podstaw popularnego silnika Unity3D i stworzysz swoją pierwszą produkcję praktycznie bez użycia kodu. Nie martw się jeśli nigdy nie miałeś do czynienia z tym narzędziem - na zajęciach omówimy podstawy by każdy mógł zacząć przygodę z tworzenie gier.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-2 margin-bottom-xs-20 row-no-padding">
                            <div class="align-content-agenda">
                                <div>
                                    <img src="~/Content/images/Agenda/itad-logo-mini.png" class="img-responsive col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 margin-botom-20" />
                                    <p class="t2 col-xs-12">
                                        <b class="hour-time-agenda">
                                            09:00 - 11:00<br />
                                            12:00 - 14:00
                                        </b>
                                    </p>
                                    <div class="col-xs-12">
                                        <div class="circle" data-value="2">
                                            <strong></strong>
                                        </div>
                                    </div>
                                    <p class="col-xs-12">
                                        <b>minut</b>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-5 margin-bottom-xs-20">
                            <div class="align-content-agenda">
                                <div>
                                    <img src="~/Content/images/Staff/Artur_Loska2.png" class="img-responsive col-xs-4 col-xs-offset-4 col-sm-6 col-sm-offset-3 margin-botom-20" />
                                    <a href="#arturloska" class="slide-inner">
                                        <p>
                                            Prowadzący: <b>Artur Loska</b>
                                        </p>
                                    </a>
                                    <p class="col-xs-12"><b>Budynek L, ACI (sala ogólnodostępna - IV piętro)</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--./row-->
</section>
