@model IEnumerable<Itad2015.ViewModels.Base.AlertViewModel>

@{
    var x = 20;
    foreach (var item in Model)
    {

        <div class="alert @item.AlertClass alert-dismissible col-xs-12 itad-alert text-center" role="alert" style="position: fixed; top: @(x+"px"); border-radius:0; opacity: 0.8">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @Html.Raw(item.AlertText)
        </div>
        x += 120;
    }
}