    <section data-stage-id="3">
    <p class="text-center">Wybierz typ i rozmiar koszulki:</p>
    <div id="TShirtType" class="row margin-botom-20 ">
        <div class="col-xxs-12 col-xs-6 col-sm-4 col-sm-offset-2 shirt-container">
            <div class="itad-girl pull-right itad-gender"></div>
        </div>
        <div class="col-xxs-12 col-xs-6 col-sm-4 shirt-container">
            <div class="itad-guy itad-gender"></div>
        </div>
    </div>
</section>
<section class="row margin-botom-20 size-options female" data-stage-id="4">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div style="margin:auto">
            <div class="col-xxs-6 col-xxs-offset-0 col-xs-3 col-xs-offset-0 col-sm-2 col-sm-offset-1 no-p-border-but-bottom">
                <div class="itad-shirt itad-shirt-s" data-size-code="1"></div>
            </div>
            <div class="col-xxs-6 col-xxs-offset-0 col-xs-3 col-xs-offset-1 col-sm-2 col-sm-offset-0  no-p-border-but-bottom">
                <div class="itad-shirt itad-shirt-m" data-size-code="2"></div>
            </div>
            <div class="col-xxs-6 col-xxs-offset-0 col-xs-3 col-sm-offset-0 col-sm-2 col-xs-offset-1 no-p-border-but-bottom">
                <div class="itad-shirt itad-shirt-l" data-size-code="3"></div>
            </div>
            <div class="col-xxs-6 col-xxs-offset-0 col-xs-3 col-xs-offset-2 col-sm-2 col-sm-offset-0 no-p-border-but-bottom">
                <div class="itad-shirt itad-shirt-xl" data-size-code="4"></div>
            </div>
            <div class="col-xxs-6 col-xxs-offset-3 col-xs-3 col-sm-offset-0 col-sm-2 col-xs-offset-1 no-p-border-but-bottom">
                <div class="itad-shirt itad-shirt-xxl" data-size-code="5"></div>
            </div>
        </div>
    </div>
</section>
<section class="row margin-botom-20 size-options male" data-stage-id="4">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="col-xxs-6 col-xxs-offset-0 col-xs-3 col-xs-offset-0 col-sm-2 col-sm-offset-1 no-p-border-but-bottom"><div class="itad-shirt itad-shirt-s" data-size-code="6"></div></div>
        <div class="col-xxs-6 col-xxs-offset-0 col-xs-3 col-xs-offset-1 col-sm-2 col-sm-offset-0  no-p-border-but-bottom"><div class="itad-shirt itad-shirt-m" data-size-code="7"></div></div>
        <div class="col-xxs-6 col-xxs-offset-0 col-xs-3 col-sm-offset-0 col-sm-2 col-xs-offset-1 no-p-border-but-bottom"><div class="itad-shirt itad-shirt-l" data-size-code="8"></div></div>
        <div class="col-xxs-6 col-xxs-offset-0 col-xs-3 col-xs-offset-2 col-sm-2 col-sm-offset-0 no-p-border-but-bottom"><div class="itad-shirt itad-shirt-xl" data-size-code="9"></div></div>
        <div class="col-xxs-6 col-xxs-offset-3 col-xs-3 col-sm-offset-0 col-sm-2 col-xs-offset-1 no-p-border-but-bottom"><div class="itad-shirt itad-shirt-xxl" data-size-code="10"></div></div>
    </div>
</section>
