<section class="left-panel">
    <nav class="navigatation">
        <div class="menu-text">
            <h3>
                <img src="~/Content/images/ResetLogo.png" />
            </h3>
        </div>
        <a href="#register-section">REJESTRACJA</a>
        <a href="#about-section">O KONFERENCJI</a>
        <a href="#prelegent-section">PRELEGENCI</a>
        <a href="#agenda-section">AGENDA</a>
        <a href="#new-section">CO NOWEGO?</a>
        <a href="#sponsor-section">SPONSORZY</a>
        <a href="#staff-section">ORGANIZATORZY</a>
    </nav>
    <!-- ./Navigation links-->
    <div id="social-links" class="Icon-trigger">
        <span class="fa fa-bars"></span>
        <a href="#" class="fa fa-facebook-square"></a>
        <a href="#" class="fa fa-twitter-square"></a>
        <a href="#" class="fa fa-linkedin-square"></a>
        <a href="#" class="fa fa-google-plus-square"></a>
    </div>
    <!-- ./Social links-->
    <!-- ./Social links-->
</section>
