<div class="overlay" style="display: none">
    <div class="container-center">
        <div>
            <img src="~/Content/images/ring.gif" width="75" height="75" style="margin:auto"/>
            <h3 style="margin-bottom:5px">Proces rejestracji w toku...</h3>
            <p>Drukujemy Twoją koszulkę do giftpacka :).</p>
        </div>
    </div>
</div>
