<div class="overlay" style="display:none">
    <div class="container-center">
        <div>
            <img src="~/Content/images/ring.gif" width="75" height="75" style="margin:auto"/>
            <h3 style="margin-bottom:20px">Pakujemy Twojego GIFTPACK'A :)</h3>       
                <img src="~/Content/images/bag.png" />
           
        </div>
    </div>
</div>
