<div id="registerBtnStage">
    <div class="checkbox margin-botom-20">
        <label><input type="checkbox" name="Accepted">Wyrażam zgodę na przetwarzanie moich danych osobowych dla potrzeb niezbędnych do finalizacji procesu rejestracji na konferencje IT Academic Day w Bielsku-Białej (zgodnie z Ustawą z dnia 29.08.1997 roku o Ochronie Danych Osobowych; tekst jednolity: Dz. U. z 2002r. Nr 101, poz. 926 ze zm.).</label>
    </div>
    <div class="validation-itad bk-red serverErrorsContainer center"></div>
    <div class="validation-itad bk-green serverSuccessContainer center"></div>

    <a class="btn btn-primary btn-itad col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 disabled">
        REJESTRUJ
    </a>
</div>
