<section id="prelegent-section">
    <div class="row">
        <div class="col-xs-12 prl-back-color">
            <div class="divider-two"></div>
            <h2 class="center">PRELEGENCI</h2>
            <div class="divider-two margin-botom-50"></div>

            <p class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 center margin-botom-50">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
            </p>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                <div class="row">
                    <img src="~/Content/images/Prelegenci/Błazej_Faliszek.png" class="img-responsive col-xs-6 col-xs-offset-3 col-sm-8 col-sm-offset-2 margin-botom-20" />
                </div>
                <h3>BŁAŻEJ FALISZEK</h3>
                <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                    Z zawodu programista w Pythonie, bloger technologiczny z zamiłowania. Twórca największego w Polsce bloga o Raspberry Pi – <a href="http://malinowepi.pl/"><b>Malinowe PI</b></a>. <br />Fan nowych technologii oraz miłośnik wszelakich serwisów społecznościowych. Jeden z założycieli stowarzyszenia Hackerspace Silesia.
                </p>
            </div>



        </div>

    </div>
</section>
