<section id="prelegent-section">
    <div class="row">
        <div class="col-xs-12 prl-back-color">
            <div class="divider-two"></div>
            <h2 class="center">PRELEGENCI</h2>
            <div class="divider-two margin-botom-50"></div>

            <h4 class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 center margin-botom-50">
                Poznaj naszych prelegentów. To ich będziesz miał okazję posłuchać i poznać na <b>IT Academic Day</b>!
            </h4>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Prelegenci/Adam_Smolnik2.png" class="img-responsive " />
                        </div>
                    </div>
                    <h3>ADAM SMOLNIK</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        Currently, Principal Software Engineer at Pitney Bowes. Prior to PB, an application developer, consultant, designer at companies like Kroll Ontrack, IBM and EDS. Co-founder of AWS User Group Poland, Amazon AWS Hero, ,an active speaker at Cloud conferences, instructor at Cloud and Software workshops, Java/JEE trainer at Altkom, Cloud Computing Architect & Trainer at CloudPeak.pl as well as co-organizer of <a href="http://www.cloudyna.org" target="blank">Cloudyna</a> conference.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Prelegenci/Mateusz_Jonderko2.png" class="img-responsive "/>
                        </div>
                    </div>
                    <h3>MATEUSZ JONDERKO</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        Programista i pasjonat tworzenia aplikacji webowych.
                        Lubi poznawać nowe technologie, szczególnie związane ze wzorcem MVC.
                        Pracuje w EUVIC, gdzie zajmuje się tworzeniem aplikacji w technologii ASP.NET MVC.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Prelegenci/Marcin_Rzeszowski2.png" class="img-responsive "/>
                        </div>
                    </div>
                    <h3>MARCIN RZESZOWSKI</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        Zawodowo zajmuje się tworzeniem i projektowaniem aplikacji na platformie Microsoft Azure z zastosowaniem technologii ASP.NET MVC. Prelegent kilku spotkań koła naukowego Reset, poświęconych wzorcowi MVC. W roku 2013 aktywnie uczestniczył w IT Academic Day jako prelegent, omawiając temat "Godzina z One ASP.NET - dużo czy mało?". Od kilku lat pracownik firmy EUVIC.
                    </p>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Prelegenci/Krzysztof_Szabelski.png" class="img-responsive " />
                        </div>
                    </div>
                    <h3>KRZYSZTOF SZABELSKI</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        Na co dzień doradca i konsultant techniczny w gliwickiej firmie Future Processing. Zajmuje się przede wszystkim architekturą systemów, optymalizowaniem procesów wytwarzania oprogramowania i programowaniem w C#. Zawsze jednak stara się wychodzić daleko poza świat technologii Microsoft, aby czerpać inspirację i poszerzać swoją wiedzę. Prywatnie motocyklista, skialpinista i pasjonat wszelkich sportów ekstremalnych.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center" id="błażejfaliszek">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Prelegenci/Blazej_Faliszek2.png" class="img-responsive "/>
                        </div>
                    </div>
                    <h3>BŁAŻEJ FALISZEK</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        Z zawodu programista w Pythonie, bloger technologiczny z zamiłowania. Twórca największego w Polsce bloga o Raspberry Pi – <a href="http://malinowepi.pl/" target="blank"><b>Malinowe PI</b></a>. <br/>Fan nowych technologii oraz miłośnik wszelakich serwisów społecznościowych. Jeden z założycieli stowarzyszenia Hackerspace Silesia.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center" id="łukaszgaweł">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Prelegenci/Lukasz_Gawel2.png" class="img-responsive "/>
                        </div>
                    </div>
                    <h3>ŁUKASZ GAWEŁ</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        Doświadczony web developer, na co dzień związany z technologią Ruby on Rails w bielskiej firmie Selleo.
                    </p>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center" id="arturloska">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Staff/Artur_Loska2.png" class="img-responsive " />
                        </div>
                    </div>
                    <h3>ARTUR LOSKA</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        Entuzjasta nowych technologii pragnący zanurzyć się w wirtualnej rzeczywistości. Od zawsze pragnący pracować przy tworzeniu gier, aktualnie stawiający pierwsze kroki w tej dziedzinie. <br />
                        Wieloletni youtuber łączący miłość do klasycznych gier z nowatorską sceną indie.<br />
                        <a href="https://www.youtube.com/user/laskapiasek" target="blank"><b>Kanał Laska Gaming</b></a>
                    </p>
                </div>
            </div>
            

        </div>

    </div>
</section>
