<section id="prelegent-section">
    <div class="row">
        <div class="col-xs-12 prl-back-color">
            <div class="divider-two"></div>
            <h2 class="center">PRELEGENCI</h2>
            <div class="divider-two margin-botom-50"></div>

            <h4 class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 center margin-botom-50">
                Poznaj naszych prelegentów. To ich będziesz miał okazję posłuchać i poznać na <b>IT Academic Day</b>!
            </h4>

            <div class="row margin-botom-20" id="adam_smolnik">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Prelegenci/Adam_Smolnik2.png" class="img-responsive " />
                        </div>
                    </div>
                    <h3>ADAM SMOLNIK</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        Currently, Principal Software Engineer at Pitney Bowes. Prior to PB, an application developer, consultant, designer at companies like Kroll Ontrack, IBM and EDS. Co-founder of AWS User Group Poland, Amazon AWS Hero, ,an active speaker at Cloud conferences, instructor at Cloud and Software workshops, Java/JEE trainer at Altkom, Cloud Computing Architect & Trainer at CloudPeak.pl as well as co-organizer of <a href="http://www.cloudyna.org" target="blank">Cloudyna</a> conference.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Prelegenci/Mateusz_Jonderko2.png" class="img-responsive " />
                        </div>
                    </div>
                    <h3>MATEUSZ JONDERKO</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        Programista i pasjonat tworzenia aplikacji webowych.
                        Lubi poznawać nowe technologie, szczególnie związane ze wzorcem MVC.
                        Pracuje w EUVIC, gdzie zajmuje się tworzeniem aplikacji w technologii ASP.NET MVC.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center" id="marcin_rzeszowski">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Prelegenci/Marcin_Rzeszowski2.png" class="img-responsive " />
                        </div>
                    </div>
                    <h3>MARCIN RZESZOWSKI</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        Zawodowo zajmuje się tworzeniem i projektowaniem aplikacji na platformie Microsoft Azure z zastosowaniem technologii ASP.NET MVC. Prelegent kilku spotkań koła naukowego Reset, poświęconych wzorcowi MVC. W roku 2013 aktywnie uczestniczył w IT Academic Day jako prelegent, omawiając temat "Godzina z One ASP.NET - dużo czy mało?". Od kilku lat pracownik firmy EUVIC.
                    </p>
                </div>

            </div>
            <div class="row margin-botom-20">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center" id="jakub_binda">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Prelegenci/Jakub_Binda.png" class="img-responsive " />
                        </div>
                    </div>
                    <h3>JAKUB BINDA</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        Absolwent Akademii Techniczno Humanistycznej w Bielsku-Białej. Obecnie programista Front-End w firmie Da Vinci Studio. Pasjonat nowinek technologicznych oraz zagorzały fan NBA. W wolnym czasie odpoczywa na łonie natury, łowiąc ryby.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Prelegenci/Tomasz_Kosowski.png" class="img-responsive " />
                        </div>
                    </div>
                    <h3>TOMASZ KOSOWSKI</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        Junior .NET Developer związany z JCommerce od ponad roku. Absolwent Politechniki Opolskiej, związany z tamtejszą grupą .NET PO. Na swoim koncie ma pracę z systemami Orchard CMS oraz aplikacjami mobilnymi i uniwersalnymi Windows. Aktualnie rozwija system oparty na ASP.NET MVC dla dużego klienta z branży energetycznej. W pracy najbardziej ceni sobie kod dobrej jakości i profesjonalne podejście do tematu programowania. Prywatnie fan muzyki i amerykańskiej motoryzacji.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center" id="piotr_nieweglowski">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Prelegenci/Piotr_Nieweglowski.png" class="img-responsive " />
                        </div>
                    </div>
                    <h3>PIOTR NIEWĘGŁOWSKI</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        Programista .NET w firmie JCommerce. Absolwent Politechniki Śląskiej. Swoją przygodę z branżą IT zaczynał 5 lat temu biorąc udział w dużym międzynarodowym projekcie. W swojej pracy zajmuje się przede wszystkim aplikacjami webowymi - głównie backendem. Fan rozwiązań, które zapewniają czystość kodu źródłowego, wzorców projektowych i nowych technologii. Swój wolny czas spędza najczęściej grywając w squasha lub gry planszowe.
                    </p>
                </div>

            </div>
            <div class="row margin-botom-20">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center" id="marcin_balda">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Prelegenci/Marcin_Balda.png" class="img-responsive " />
                        </div>
                    </div>
                    <h3>MARCIN BAŁDA</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        Absolwent Politechniki Śląskiej na kierunkach Matematyka oraz Informatyka. Obecnie współpracuje z gliwicką firmą Future Processing, gdzie na co dzień zajmuje się tworzeniem aplikacji webowych opartych o platformę .NET. Do zainteresowań zawodowych należą (szeroko pojęty) web development, metodyki Agile'owe oraz wdrażanie na wszelki możliwy sposób zasady KISS (Keep It Simple, Stupid) do prowadzonych projektów.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center" id="przemyslaw_galuszka">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Prelegenci/Przemyslaw_Galuszka.png" class="img-responsive " />
                        </div>
                    </div>
                    <h3>PRZEMYSŁAW GAŁUSZKA</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        Związany ze społecznością .NET od 2010 roku. Były Microsoft Student Partner na Uniwersytecie Śląskim i Student Consultant regionu Śląsko-Małopolskiego. Obecnie pracuje w Microsoft Polska w dziale nowych technologii DX. W swojej codziennej pracy współpracuje ze społecznościami programistycznymi, administratorów i specjalistów IT i studentów. Prywatnie jest zapalonym graczem, czasami bloguje, ma bzika na punkcie nowych technologii i pozwala sobie myśleć, że jest programistą.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center" id="bartlomiej_zass">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Prelegenci/Bartlomiej_Zass.png" class="img-responsive " />
                        </div>
                    </div>
                    <h3>BARTŁOMIEJ ZASS</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        Architekt rozwiązań opartych o chmurę Azure, programista .NET (ze szczególnym zamiłowaniem do aplikacji webowych) i pasjonat wszelkich nowinek technologicznych. Zajmuje się współpracą z niezależnymi producentami oprogramowania, szkoleniem, wspieraniem zespołów deweloperskich w zakresie projektowania architektury oraz modernizacji systemów. W chwili obecnej przede wszystkim skupia się na rozwiązaniach cloudowych. Pomagał w projektowaniu architektury rozwiązań oraz tworzeniu aplikacji typu POC zarówno dla startupów, jak i największych w Polsce serwisów internetowych, operatorów telefonii oraz banków. Prelegent polskich i zagranicznych konferencji technicznych. W wolnych chwilach pasjonuje się fotografią, grafiką komputerową, żeglarstwem, montowaniem różnego rodzaju sprzętu audio i wszelkimi technologicznymi gadżetami. 
                    </p>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center" id="błażejfaliszek">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Prelegenci/Blazej_Faliszek2.png" class="img-responsive " />
                        </div>
                    </div>
                    <h3>BŁAŻEJ FALISZEK</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        Z zawodu programista w Pythonie, bloger technologiczny z zamiłowania. Twórca największego w Polsce bloga o Raspberry Pi – <a href="http://malinowepi.pl/" target="blank"><b>Malinowe PI</b></a>. <br />Fan nowych technologii oraz miłośnik wszelakich serwisów społecznościowych. Jeden z założycieli stowarzyszenia Hackerspace Silesia.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center" id="łukaszgaweł">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Prelegenci/Lukasz_Gawel2.png" class="img-responsive " />
                        </div>
                    </div>
                    <h3>ŁUKASZ GAWEŁ</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        Doświadczony web developer pracujący w firmie programistycznej Selleo, która tworzy aplikacje webowe i mobilne dla klientów z całego świata. Na codzień związany głównie z technologią Ruby on Rails nigdy nie odmówi wykonania projektu wykorzystującego AngularJS czy EmberJS. Prowadząc warsztaty w trakcie VI edycji konferencji Open Source Days dał się poznać jako osoba, który nawet najbardziej skomplikowane rozwiązania jest w stanie przedstawić w przystępny pełen humoru sposób. W pracy nigdy nie odmawia dobrej kawy oraz pracy dla klientów z USA.                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center" id="arturloska">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Staff/Artur_Loska2.png" class="img-responsive "/>
                        </div>
                    </div>
                    <h3>ARTUR LOSKA</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        Entuzjasta nowych technologii pragnący zanurzyć się w wirtualnej rzeczywistości. Od zawsze pragnący pracować przy tworzeniu gier, aktualnie stawiający pierwsze kroki w tej dziedzinie. <br/>
                        Wieloletni youtuber łączący miłość do klasycznych gier z nowatorską sceną indie.<br/>
                        <a href="https://www.youtube.com/user/laskapiasek" target="blank"><b>Kanał Laska Gaming</b></a>
                    </p>
                </div>
            </div>


        </div>

    </div>
</section>
