<section id="staff-section">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 org-back-color">
            <div class="divider-two"></div>
            <h2 class="center">ORGANIZATORZY</h2>
            <div class="divider-two margin-botom-50"></div>
            <!-- ./Headings -->
            <h4 class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 center">
                To dzięki nim, co roku mamy okazję spotkać się na <b>IT Academic Day</b> na ATH. Dziękujemy! :)
            </h4>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Staff/Szymon_Tengler2.png" class="img-responsive img-auto-margin" />
                        </div>
                    </div>
                    <h3>SZYMON TENGLER</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        <b>ZAŁOŻYCIEL</b> KOŁA RESET I OPIEKUN SEKCJI <b>.NET</b><br />
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Staff/Tomasz_Gancarczyk2.png" class="img-responsive img-auto-margin" />
                        </div>
                    </div>

                    <h3>TOMASZ GANCARCZYK</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        OPIEKUN SEKCJI <b>SYSTEMY OPERACYJNE</b> KOŁA RESET ATH
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Staff/Pawel_Falat2.png" class="img-responsive img-auto-margin" />
                        </div>
                    </div>

                    <h3>PAWEŁ FAŁAT</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        OPIEKUN SEKCJI <b>APLIKACJE MOBILNE</b> KOŁA RESET ATH

                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Staff/Kasia_Jasiewicz2.png" class="img-responsive img-auto-margin" />
                        </div>
                    </div>
                    <h3>KATARZYNA JASIEWICZ</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        PRZEWODNICZĄCA KOŁA <b>RESET ATH</b>
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Staff/Marcin_Wadon2.png" class="img-responsive img-auto-margin" />
                        </div>
                    </div>
                    <h3>MARCIN WADOŃ</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        <b>MICROSOFT</b> STUDENT PARTNER
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Staff/Tomasz_Kaminski2.png" class="img-responsive img-auto-margin" />
                        </div>
                    </div>
                    <h3>TOMASZ KAMIŃSKI</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENT IV ROKU <b>INFORMATYKI</b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Staff/Bartek_Borak2.png" class="img-responsive img-auto-margin" />
                        </div>
                    </div>
                    <h3>BARTEK BORAK</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENT II ROKU <b>INFORMATYKI</b>

                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Staff/Bartek_Szczepanski2.png" class="img-responsive img-auto-margin" />
                        </div>
                    </div>
                    <h3>BARTOSZ SZCZEPAŃSKI</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENT II ROKU <b>INFORMATYKI</b>

                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Staff/Beata_Goluch2.png" class="img-responsive img-auto-margin" />
                        </div>
                    </div>
                    <h3>BEATA GOŁUCH</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENTKA IV ROKU <b>INFORMATYKI</b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Staff/Jan_Frindt2.png" class="img-responsive img-auto-margin" />
                        </div>
                    </div>
                    <h3>JAN FRINDT</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENT III ROKU <b>INFORMATYKI</b>
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Staff/Janusz_Zukowicz2.png" class="img-responsive img-auto-margin" />
                        </div>
                    </div>
                    <h3>JANUSZ ŻUKOWICZ</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENT III ROKU <b>INFORMATYKI</b>
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Staff/Pawel_Leja2.png" class="img-responsive img-auto-margin" />
                        </div>
                    </div>
                    <h3>PAWEŁ LEJA</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENT I ROKU <b>INFORMATYKI</b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Staff/Damian_Kowalczyk2.png" class="img-responsive img-auto-margin" />
                        </div>
                    </div>
                    <h3>DAMIAN KOWALCZYK</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENT II ROKU <b>INFORMATYKI</b>

                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Staff/Grzegorz_Zareba2.png" class="img-responsive img-auto-margin" />
                        </div>
                    </div>
                    <h3>GRZEGORZ ZARĘBA</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENT III ROKU <b>INFORMATYKI</b>

                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Staff/Hanna_Pereverzieva2.png" class="img-responsive img-auto-margin" />
                        </div>
                    </div>
                    <h3>HANNA PEREVERZIEVA</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENTKA III ROKU <b>INFORMATYKI</b>

                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Staff/Malgorzata_Mazurek2.png" class="img-responsive img-auto-margin" />
                        </div>
                    </div>
                    <h3>MAŁGORZATA MAZUREK</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENTKA III ROKU <b>INFORMATYKI</b>

                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Staff/Artur_Loska2.png" class="img-responsive img-auto-margin" />
                        </div>
                    </div>
                    <h3>ARTUR LOSKA</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENT IV ROKU <b>INFORMATYKI</b>

                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Staff/Andrzej_Kastelik2.png" class="img-responsive img-auto-margin" />
                        </div>
                    </div>
                    <h3>ANDRZEJ KASTELIK</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENT IV ROKU <b>INFORMATYKI</b>

                    </p>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Staff/Marek_Bubiak2.png" class="img-responsive img-auto-margin" />
                        </div>
                    </div>
                    <h3>MAREK BUBIAK</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENT I ROKU <b>INFORMATYKI</b>

                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Staff/Ania_Galuszka2.png" class="img-responsive img-auto-margin"/>
                        </div>
                    </div>
                    <h3>ANIA GAŁUSZKA</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENTKA I ROKU <b>INFORMATYKI</b>

                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Staff/Dawid_Holisz2.png" class="img-responsive img-auto-margin" />
                        </div>
                    </div>
                    <h3>DAWID HOLISZ</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENT I ROKU <b>INFORMATYKI</b>

                    </p>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <div class="row">
                        <div class="col-xxs-6 col-xxs-offset-3 col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <img src="~/Content/images/Staff/Pawel_Adamus2.png" class="img-responsive img-auto-margin" />
                        </div>
                    </div>
                    <h3>PAWEŁ ADAMUS</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENT I ROKU <b>INFORMATYKI</b>

                    </p>
                </div>
            </div>
        </div>

    </div>
    <!--./row-->
</section>
