<section id="staff-section">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 org-back-color">
            <div class="divider-two"></div>
            <h2 class="center">ORGANIZATORZY</h2>
            <div class="divider-two margin-botom-50"></div>
            <!-- ./Headings -->
            <p class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 center">
                Poznaj ludzi, dzięki którym co roku spotykamy się na IT Academic Day na Akademii Techniczno-Humanistycznej w Bielsku-Białej
            </p>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                <h3>

                    <img src="~/Content/images/org/Artur_Loska.png" />
                </h3>
                <h3>ARTUR LOSKA</h3>
                <p>
                    Student IV roku Informatyki
                </p>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                <h3>

                    <img src="~/Content/images/org/Tomasz_Kamiński.png" />
                </h3>
                <h3>TOMASZ KAMIŃSKI</h3>
                <p>Zastępca Pani Prezes!</p>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                <h3>
                    <img src="~/Content/images/org/Marcin_Wadoń.png" />
                </h3>
                <h3>MARCIN WADOŃ</h3>
                <p>
                    MICROSOFT STUDENT PARTNER
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                <h3>

                    <img src="~/Content/images/org/Katarzyna_Jasiewicz.png" />
                </h3>
                <h3>KATARZYNA JASIEWICZ</h3>
                <p>
                    Przewodnicząca Koło Informatycznego RESET ATH
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                <h3>
                    <img src="~/Content/images/org/Artur_Loska.png" />
                </h3>
                <h3>ARTUR LOSKA</h3>
                <p>
                    Student IV roku Informatyki
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                <h3>
                    <img src="~/Content/images/org/Tomasz_Kamiński.png" />
                </h3>
                <h3>TOMASZ KAMIŃSKI</h3>
                <p>
                    Zastępca Pani Prezes!
                </p>
            </div>


        </div>

    </div>

    <!--./row-->
</section>
