<section id="staff-section">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 org-back-color">
            <div class="divider-two"></div>
            <h2 class="center">ORGANIZATORZY</h2>
            <div class="divider-two margin-botom-50"></div>
            <!-- ./Headings -->
            <h4 class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 center">
                To dzięki nim, co roku mamy okazję spotkać się na <b>IT Academic Day</b> na ATH. Dziękujemy! :)
            </h4>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <h3>
                        <img src="~/Content/images/Staff/Szymon_Tengler.png" />
                    </h3>
                    <h3>SZYMON TENGLER</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        OPIEKUN SEKCJI <b>.NET</b> KOŁA RESET ATH
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <h3>
                        <img src="~/Content/images/Staff/Tomasz_Gancarczyk.png" />
                    </h3>
                    <h3>TOMASZ GANCARCZYK</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        OPIEKUN SEKCJI <b>SYSTEMY OPERACYJNE</b> KOŁA RESET ATH
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <h3>
                        <img src="~/Content/images/Staff/Pawel_Falat.png" />
                    </h3>
                    <h3>PAWEŁ FAŁAT</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        OPIEKUN SEKCJI <b>APLIKACJE MOBILNE</b> KOŁA RESET ATH

                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <h3>
                        <img src="~/Content/images/Staff/Kasia_Jasiewicz.png" />
                    </h3>
                    <h3>KATARZYNA JASIEWICZ</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        PRZEWODNICZĄCA KOŁA <b>RESET ATH</b>
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <h3>
                        <img src="~/Content/images/Staff/Marcin_Wadon.png" />

                    </h3>
                    <h3>MARCIN WADOŃ</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        <b>MICROSOFT</b> STUDENT PARTNER
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <h3>
                        <img src="~/Content/images/Staff/Tomasz_Kamiński.png" />
                    </h3>
                    <h3>TOMASZ KAMIŃSKI</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENT IV ROKU <b>INFORMATYKI</b>

                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <h3>
                        <img src="~/Content/images/Staff/Bartek_Borak.png" />
                    </h3>
                    <h3>BARTEK BORAK</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENT II ROKU <b>INFORMATYKI</b>

                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <h3>
                        <img src="~/Content/images/Staff/Bartek_Szczepanski.png" />
                    </h3>
                    <h3>BARTOSZ SZCZEPAŃSKI</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENT II ROKU <b>INFORMATYKI</b>

                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <h3>
                        <img src="~/Content/images/Staff/Beata_Gołuch.png" />
                    </h3>
                    <h3>BEATA GOŁUCH</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENTKA IV ROKU <b>INFORMATYKI</b>

                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <h3>
                        <img src="~/Content/images/Staff/Jan_Frindt.png" />
                    </h3>
                    <h3>JAN FRINDT</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENT III ROKU <b>INFORMATYKI</b>

                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <h3>
                        <img src="~/Content/images/Staff/Janusz_Zukowicz.png" />
                    </h3>
                    <h3>JANUSZ ŻUKOWICZ</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENT III ROKU <b>INFORMATYKI</b>

                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <h3>
                        <img src="~/Content/images/Staff/Pawel_Leja.png" />
                    </h3>
                    <h3>PAWEŁ LEJA</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENT I ROKU <b>INFORMATYKI</b>

                    </p>

                </div>

            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <h3>
                        <img src="~/Content/images/Staff/Damian_Kowalczyk.png" />
                    </h3>
                    <h3>DAMIAN KOWALCZYK</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENT II ROKU <b>INFORMATYKI</b>

                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <h3>
                        <img src="~/Content/images/Staff/Grzegorz Zaręba.png" />
                    </h3>
                    <h3>GRZEGORZ ZARĘBA</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENT III ROKU <b>INFORMATYKI</b>

                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <h3>
                        <img src="~/Content/images/Staff/Hanna Pereverzieva.png" />
                    </h3>
                    <h3>HANNA PEREVERZIEVA</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENT III ROKU <b>INFORMATYKI</b>

                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <h3>
                        <img src="~/Content/images/Staff/Malgorzata_Mazurek.png" />
                    </h3>
                    <h3>MAŁGORZATA MAZUREK</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENTKA II ROKU <b>INFORMATYKI</b>

                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <h3>
                        <img src="~/Content/images/Staff/Artur_Loska.png" />
                    </h3>
                    <h3>ARTUR LOSKA</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENT IV ROKU <b>INFORMATYKI</b>

                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <h3>
                        <img src="~/Content/images/Staff/Andrzej_Kastelik.png" />
                    </h3>
                    <h3>ANDRZEJ KASTELIK</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENT IV ROKU <b>INFORMATYKI</b>

                    </p>
                </div>
                
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 center">
                    <h3>
                        <img src="~/Content/images/Staff/Krzysztof_Gren.png" />
                    </h3>
                    <h3>KRZYSZTOF GREŃ</h3>
                    <p class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                        STUDENT IV ROKU <b>INFORMATYKI</b>

                    </p>
                </div>           
            </div>
        </div>
    </div>

    <!--./row-->
</section>
