<section id="new-section">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-back-color">
            <div class="divider-two"></div>
            <h2 class="center">CO NOWEGO PRZYGOTOWALIŚMY?</h2>
            <div class="divider-two margin-botom-50"></div>
            <!-- ./Headings -->
            <div class="col-sm-6 center">

                <img src="~/Content/images/register.png" />

                <h4 class="center">INNOWACYJNY, AUTORSKI MODUŁ REJESTRACJI</h4>
                <p class="center">
                    Autorski projekt Koła Naukowego <b>RESET</b>, pozwoli na
                    przyspieszenie procesu rejestrowania uczestników
                    w dniu konferencji. Uczestnik posiadający QR kod może
                    samodzielnie zameldować swoją obecność na ITAD i odebrać
                    swój giftpack od miłego wolontariusza :)
                </p>
            </div>
            <div class="col-sm-6 center">

                <img src="~/Content/images/web.png" />

                <h4 class="center">
                    NOWA ODSŁONA STRONY IT ACADEMIC DAY
                </h4>
                <p class="center">
                    Strona internetowa konferencji to kolejne dzieło <b>RESET</b>owców.
                    Tegoroczna strona ITAD 2015 jest samodzielna,
                    w jednym miejscu możesz zarejestrować się
                    na konferencję lub warsztaty dowiedzieć się wszystkiego
                    czego potrzebujesz o konferencji.
                </p>
            </div>


            <div class="row">


                <div class="col-sm-6 center">

                    <img src="~/Content/images/workshop.png" />

                    <h4 class="center">WARSZTATY DLA UCZNIÓW SZKÓŁ ŚREDNICH</h4>
                    <p class="center">
                        Pierwszy raz w historii bielskiej konferencji IT Academic Day
                        <b>RESET</b> zdecydował się na organizację warsztatów
                        dla uczniów szkół średnich. Warsztaty mają na celu zachęcenie młodych ludzi
                        do kształcenia się w kierunkach technicznch - w szczególności w IT.
                        Im wcześniej, tym lepiej!
                    </p>
                </div>
                <div class="col-sm-6 center">

                    <img src="~/Content/images/packet.png" />

                    <h4 class="center">
                        PAKIETY SPONSORSKIE
                    </h4>
                    <p class="center">
                        ITAD 2015 to również nowości dla osób chcących wesprzeć
                        naszą bielską konferencję. Chcemy aby proces ten był jak najbardziej przejrzysty
                        i klarowny, dlatego zdecydowaliśmy się na wprowadzenie pakietów sponsorskich,
                        które jasno określają benefity płynące z bycia sponsorem.
                        O tym, że warto wspierać <b>RESET</b> przekonalo się już liczne grono!
                    </p>
                </div>
            </div>

        </div>

    </div>

    <!--./row-->
</section>
