
@{
    ViewBag.Title = "CancelRegistration";
}

<h2>CancelRegistration</h2>


@if (Model.Result)
{
    <h1>Zostałeś wypisany z konferencji</h1>
}
else
{
    <h1>Nie mogliśmy wypisać z konferencji, wystąpiły następujące błędy:</h1>
    foreach (var validationError in Model.ValidationErrors)
    {
        <h2>@validationError</h2>
    }
}