@model Itad2015.ViewModels.Base.BaseReturnViewModel<bool>
@{
    ViewBag.Title = "ConfirmRegistration";
}

<h2>ConfirmRegistration</h2>

@if (Model.Result)
{
    <h1>Uczestnictwo potwierdzone pomyślnie.</h1>
}
else
{
    <h1>Nie potiwrdzono uczestnictwa, wystąpiły następujące błędy.</h1>
    foreach (var validationError in Model.ValidationErrors)
    {
        <h2>@validationError</h2>
    }
}

