@RenderSection("Headers", false)
Content-Type: text/html; charset=utf-8

<html>
<head>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width">
</head>
<body mail="fix">
JEST HEADER W MAILU :D
@RenderBody()
</body>
</html>