@RenderSection("Headers", false)
Content-Type: text/html; charset=utf-8

<html>
<head>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width">

</head>
<body mail="fix">
    <div style="width: 700px; margin: auto">
        <a href="@Url.Action("Index","Home",null,"http")">
            <div style="width: 700px; height: 350px; margin: auto">
                @Html.EmbedImage("~/Content/images/Mail/mailHeader.jpg")
            </div>
        </a>
@RenderBody()
    </div>

</body>
</html>