@model Itad2015.ViewModels.Email.GuestInviteEmail

<h2 style="text-align: center">Cześć @Model.Name!</h2>
<p style="text-align: center">
    Mamy nadzieję, że ostatnia edycja <strong>IT Academic Day</strong> była dla Ciebie <strong>ciekawym</strong> doświadczeniem
</p>
<p style="text-align: center">
    W tym roku podnosimy <strong>poprzeczkę!</strong>
</p>
<p style="font-size: 12px;text-align: center">Przygotowaliśmy wiele nowości, które - naszym zdaniem - udoskonalą bielskie IT Academic Day</p>
<p style="text-align: center">PRZYJDŹ I PRZEKONAJ SIĘ SAM :)</p>

<p style="text-align: center">czekamy na Ciebie 20 listopada 2015 roku na Akademii Techniczno-Humanistycznej w Bielsku-Białej.</p>