@model Itad2015.ViewModels.Email.GuestInviteEmail

<h1 style="font-family:'Sinkin Sans','Open Sans','Segoe UI', sans-serif">Cześć!</h1>
<p style=" font-family: 'Sinkin Sans', 'Open Sans', 'Segoe UI', sans-serif; font-size: 18px">
    Mamy nadzieję, że ostatnia edycja <strong>IT Academic Day</strong> była dla Ciebie <strong>ciekawym</strong> doświadczeniem
</p>
<p style="border-bottom:1px solid #50efff"></p>
<p style="font-family:'Sinkin Sans','Open Sans','Segoe UI', sans-serif;font-size:18px">
    W tym roku podnosimy <strong>poprzeczkę!</strong><br />
    Przygotowaliśmy wiele nowości, które - naszym zdaniem - <br />
    udoskonalą bielskie IT Academic Day
</p>
<a href="https://itad.reset.ath.eu" style="color:#50efff">
    <h2 style="font-family: 'Sinkin Sans', 'Open Sans', 'Segoe UI', sans-serif; font-size: 18px; color:#50efff">PRZYJDŹ I PRZEKONAJ SIĘ SAM :)</h2>
</a>
<p style="border-bottom:1px solid #50efff"></p>
<p style="font-family:'Sinkin Sans','Open Sans','Segoe UI', sans-serif;font-size:18px">
    czekamy na Ciebie 20 listopada 2015 <br />
    roku na Akademii Techniczno-Humanistycznej <br />
    w Bielsku-Białej.
</p>