@model Itad2015.ViewModels.Email.GuestRegisterEmail

<a style="text-decoration: none" href="@Url.Action("ConfirmRegistration", "Guest")">Potwierdź tutaj obecność</a>

<a style="text-decoration: none" href="@Url.Action("CancelRegistration","Guest")">Anuluj tutaj obecność</a>

