@model Itad2015.ViewModels.Email.GuestRegisterEmail

<div>
    <p style="color: #50efff;">
        ITAD 2015 JUŻ WKRÓTCE!
    </p>
    <p style="text-transform:uppercase">
        Mamy nadzieję, że ostatnia edycja była dla Ciebie przyjemnym doświadczeniem. W tym roku przygotowaliśmy wiele nowości, które na pewno udoskonalą bielskie IT Academic Day!<br />
        Czekamy na Ciebie 20 Listopada 2015 roku na Akademii Techniczno-Humanistycznej. <br />
        Tego wydarzenia nie możesz przegapić!
    </p>
</div>

